body {
    margin: 0 3vw;
    font-family: sans-serif;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: 0;
    padding: 0;
}
th, td {
    text-align: left;
    padding: 10px 3px;
    vertical-align: top;
}
.group-weight {
    padding: 2px;
}
.group-weight input {
    width: 60px;
    text-align: right;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
.hidden {
    display: none;
}
